*
{
    box-sizing: border-box;
    margin: 0;
}

/* ================================= 
  Base Element Styles
==================================== */

body
{
  background: rgb(245, 245, 245);
  font-family: 'Roboto', 'Ariel', 'sans-serif';
  color: rgb(74, 73, 73);
}

h1,
h2,
h3
{
  letter-spacing: 1.1px;
}

h1
{
  margin-bottom: 25px;
}

h2
{
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 18px;
}

h3
{
  font-weight: 400;
  font-size: 20px;
  margin-top: 22px;
  margin-bottom: 18px;
}

a
{
  color: rgb(74, 73, 73);
  text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header
{
  margin-top: 25px;
}

.name
{
  font-size: 32px;
}

.main-nav
{
  margin-bottom: 70px;
}

.main-nav li
{
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 22px;
  list-style: none;
}

ul {
  padding-left: 0;
}

.main-nav li a
{
  background: white;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  letter-spacing: 1.1px;
  text-transform: capitalize;
}

/* ---- Layout Containers ---- */

.container
{
    margin: 0 auto;
    text-align: center;
}

.portfolio /*This will contain all the content in 
main secton*/
{
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
}

.paragraph /*This will contain all the paragraphs in the Main section*/
{
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
}

/* ---- Page Elements ---- */

.bio /*Profile section*/
{
  margin-bottom: 40px;
  text-align: center;
}

.bio img /*Profile img*/
{
  width: 70%;
}

p /*Profile and Footer paragraph*/
{
  font-size: 20px;
  width: 100%;
  margin: 20px auto;
  font-weight: 300;
  color: rgb(128, 128, 128);
}

.portfolio img /*controls width of all images with Portfolio section*/
{
  width: 90%;
}

.paragraph:last-child
{
  padding-bottom: 70px; /* space between last paragraph and footer*/
}

footer h2
{
  padding-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
}

.email
{
  padding-bottom: 50px;
}

hr
{
  width: 90%;
  margin: 0 auto;
}

.student,
.shortcut
{
  width: 50%;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  color: rgb(74, 73, 73);
}

.student
{
  float:left;
  text-align: left;
  padding-left: 15px;
}

.shortcut
{
  float:right;
  text-align: right;
  padding-right: 15px;
}

footer .main-nav
{
  display: none;
}
/* ================================= 
  Media Queries
==================================== */

/* 768px and 1024px. */

/* ---- Navigation ---- */

@media (min-width: 768px) 
{
  .main-nav
  {
    display: inline-block;
    margin-bottom: 30px;
  }

  .main-nav li
  {
    list-style: none;
    float: left;
    margin-right: 45px;
  }

  .main-nav li a
  {
    background: rgb(245, 245, 245);
    display: block;
    padding-bottom: 15px;
    width: 100%;
    letter-spacing: 1.1px;
    text-transform: capitalize;
  }

  /* ---- Base Element Styles ---- */

  h1
  {
    margin-bottom: 35px;
  }

  /* ---- Header ---- */

  
  .bio img
  {
    float: right;
    width: 40%;
    padding-right: 35px;
    margin-top: 25px;
  }

  .bio p
  {
    float: left;
    width: 60%;
    font-size: 24px;
    line-height: 1.4;
    padding-right: 5px;
  }

  /* ---- Layout Containers ---- */

  .portfolio /* container containing main content */
  {
    margin-bottom: 0;
  }

  /* ---- Page Elements ---- */

  .portfolio article /* Each project group including Image, h3, and paragraph */
  {
    float: left;
    width: 50%;
  }

  footer
  {
    margin-bottom: 40px;
  }

  footer p
  {
    width: 70%;
  }

  hr
  {
    width: 95%;
  }

  .student /* Student name in Footer*/
  {
    font-size: 15px;
    padding-left: 20px;
  }

  .shortcut
  {
    display: none;
  }

  footer .main-nav /* Main-nav in Footer */
  {
    display: inline-block;
    padding-top: 25px;
    float: right;
    padding-right: 20px;
  }
  footer .main-nav li
  {
    font-size: 15px;
  }

}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}