*
{
    box-sizing: border-box;
    margin: 0;
}

/* ================================= 
  Base Element Styles
==================================== */

body
{
  background: rgb(245, 245, 245);
  font-family: 'Roboto', 'Ariel', 'sans-serif';
  color: rgb(74, 73, 73);
}

h1,
h2,
h3
{
  letter-spacing: 1.1px;
}

h1
{
  margin-bottom: 25px;
}

h2
{
  margin-bottom: 50px;
  font-size: 18px;
}

h3
{
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 18px;
}

a
{
  color: rgb(74, 73, 73);
  text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header
{
  margin-top: 25px;
  /* text-align: center; */
}

.name
{
  font-size: 34px;
}

.main-nav
{
  margin-bottom: 70px;
}

.main-nav li
{
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 22px;
  list-style: none;
}

ul {
  padding-left: 0;
}

.main-nav li a
{
  background: white;
  display: block;
  padding-bottom: 15px;
  width: 100%;
  letter-spacing: 1.1px;
  text-transform: capitalize;
}

/* ---- Layout Containers ---- */

.container
{
    margin: 0 auto;
    text-align: center;
}

.portfolio /*This will contain all the content in 
main secton*/
{
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
}

.paragraph /*This will contain all the paragraphs in the Main section*/
{
  width: 70%;
  text-align: center;
  margin-bottom: 22px;
}

/* ---- Page Elements ---- */

.bio /*Profile section*/
{
  margin-bottom: 40px;
  text-align: center;
}

.bio img /*Profile img*/
{
  width: 70%;
}

.bio p /*Profile paragraph*/
{
  font-size: 20px;
  width: 100%;
  margin: 20px auto;
  font-weight: 300;
  color: rgb(128, 128, 128);
}

.portfolio img /*controls width of all images with Portfolio section*/
{
  width: 95%;
}

/* ================================= 
  Media Queries
==================================== */

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}